@import "tailwindcss";
@plugin "daisyui";

/* 

theme customization

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #F4F7FF;
  --color-base-200: #fffFFF;
  --color-primary: #6f7bf7;
}

*/

.tsqd-open-btn, .TanStackRouterDevtools, .tsqd-parent-container {
  display: none !important;
}

html, body{
  height: 100%;
  @apply bg-base-100;
  @apply dark:bg-base-300;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}